footer.footer
    div.container-fluid
        div.row
            div.col-xs-4.text-center
                br
                a(href='#') Traits
            div.col-xs-4.text-center
                br
                a(href='#') Contact Us
                br
                a(href='#') FAQ
            div.col-xs-4.text-center
                br
                a(href='#') Terms
                br
                a(href='#') Disclaimer
                br
                a(href='#') Privacy
        div.row
            div.col-xs-12
                hr
                p.text-center(style='color: #ffffff') Copyright &copy; 2016
