head
    meta(charset='utf-8')
    title= title
    //- material design font
    link(rel="stylesheet", type="text/css", href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    //- material design icon
    link(rel="stylesheet", type="text/css", href='//fonts.googleapis.com/icon?family=Material+Icons')
    //- bootstrap v3
    link(rel="stylesheet", type="text/css", href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    //- material design bootstrap
    link(rel="stylesheet", type="text/css", href='/css/bootstrap-material-design.min.css')
    //- material ripple effect
    link(rel="stylesheet", type="text/css", href='/css/ripples.min.css')
    //- Font Awesome
    link(rel="stylesheet", type="text/css", href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    //- css
    link(rel="stylesheet", type="text/css", href='/css/styles.css')
